<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-publication-heading"
        data-cy="PublicationCreateUpdateHeading"
        jhiTranslate="userManagementServiceApp.userManagementServicePublication.home.createOrEditLabel"
      >
        Créer ou éditer un Publication
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="userManagementServiceApp.userManagementServicePublication.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let contentRef = editForm.get('content')!;
        <div class="mb-3">
          <label class="form-label" for="field_content" jhiTranslate="userManagementServiceApp.userManagementServicePublication.content"
            >Content</label
          >
          <textarea class="form-control" name="content" id="field_content" data-cy="content" formControlName="content"></textarea>
          @if (contentRef.invalid && (contentRef.dirty || contentRef.touched)) {
            <div>
              @if (editForm.get('content')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let authorIdRef = editForm.get('authorId')!;
        <div class="mb-3">
          <label class="form-label" for="field_authorId" jhiTranslate="userManagementServiceApp.userManagementServicePublication.authorId"
            >Author Id</label
          >
          <input type="number" class="form-control" name="authorId" id="field_authorId" data-cy="authorId" formControlName="authorId" />
          @if (authorIdRef.invalid && (authorIdRef.dirty || authorIdRef.touched)) {
            <div>
              @if (editForm.get('authorId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('authorId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let authorTypeRef = editForm.get('authorType')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_authorType"
            jhiTranslate="userManagementServiceApp.userManagementServicePublication.authorType"
            >Author Type</label
          >
          <select class="form-control" name="authorType" formControlName="authorType" id="field_authorType" data-cy="authorType">
            <option [ngValue]="null">{{ 'userManagementServiceApp.UserType.null' | translate }}</option>
            @for (userType of userTypeValues; track $index) {
              <option [value]="userType">{{ 'userManagementServiceApp.UserType.' + userType | translate }}</option>
            }
          </select>
          @if (authorTypeRef.invalid && (authorTypeRef.dirty || authorTypeRef.touched)) {
            <div>
              @if (editForm.get('authorType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let createdAtRef = editForm.get('createdAt')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdAt" jhiTranslate="userManagementServiceApp.userManagementServicePublication.createdAt"
            >Created At</label
          >
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdAtRef.invalid && (createdAtRef.dirty || createdAtRef.touched)) {
            <div>
              @if (editForm.get('createdAt')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdAt')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Ce champ doit être une date et une heure.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
