<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (eleve(); as eleveRef) {
      <div>
        <h2 data-cy="eleveDetailsHeading">
          <span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.detail.title">Eleve</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ eleveRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.nom">Nom</span></dt>
          <dd>
            <span>{{ eleveRef.nom }}</span>
          </dd>
          <dt><span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.prenom">Prenom</span></dt>
          <dd>
            <span>{{ eleveRef.prenom }}</span>
          </dd>
          <dt><span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.dateNaissance">Date Naissance</span></dt>
          <dd>
            <span>{{ eleveRef.dateNaissance | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.telephone">Telephone</span></dt>
          <dd>
            <span>{{ eleveRef.telephone }}</span>
          </dd>
          <dt><span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.adresse">Adresse</span></dt>
          <dd>
            <span>{{ eleveRef.adresse }}</span>
          </dd>
          <dt><span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.email">Email</span></dt>
          <dd>
            <span>{{ eleveRef.email }}</span>
          </dd>
          <dt><span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.serie">Serie</span></dt>
          <dd>
            <span>{{ eleveRef.serie }}</span>
          </dd>
          <dt><span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.niveauEtude">Niveau Etude</span></dt>
          <dd>
            <span>{{ eleveRef.niveauEtude }}</span>
          </dd>
          <dt><span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.lycee">Lycee</span></dt>
          <dd>
            <span>{{ eleveRef.lycee }}</span>
          </dd>
          <dt><span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.ville">Ville</span></dt>
          <dd>
            <span>{{ eleveRef.ville }}</span>
          </dd>
          <dt><span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.password">Password</span></dt>
          <dd>
            <span>{{ eleveRef.password }}</span>
          </dd>
          <dt><span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.passwordHash">Password Hash</span></dt>
          <dd>
            <span>{{ eleveRef.passwordHash }}</span>
          </dd>
          <dt><span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.keycloakId">Keycloak Id</span></dt>
          <dd>
            <span>{{ eleveRef.keycloakId }}</span>
          </dd>
          <dt><span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.user">User</span></dt>
          <dd>
            <span>{{ eleveRef.user?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/usermanagementservice/eleve', eleveRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
