<div>
  <h2 id="page-heading" data-cy="ConseillerHeading">
    <span jhiTranslate="userManagementServiceApp.userManagementServiceConseiller.home.title">Conseillers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="userManagementServiceApp.userManagementServiceConseiller.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-conseiller"
        [routerLink]="['/usermanagementservice/conseiller/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="userManagementServiceApp.userManagementServiceConseiller.home.createLabel"
          >Créer un nouveau Conseiller</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label
          class="visually-hidden"
          for="currentSearch"
          jhiTranslate="userManagementServiceApp.userManagementServiceConseiller.home.search"
          >Recherche pour Conseiller</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'userManagementServiceApp.userManagementServiceConseiller.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (conseillers?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="userManagementServiceApp.userManagementServiceConseiller.home.notFound">Aucun Conseiller trouvé</span>
    </div>
  }

  @if (conseillers && conseillers.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nom">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceConseiller.nom">Nom</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="prenom">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceConseiller.prenom">Prenom</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="specialite">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceConseiller.specialite">Specialite</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceConseiller.email">Email</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceConseiller.description">Description</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="certifie">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceConseiller.certifie">Certifie</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="password">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceConseiller.password">Password</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="passwordHash">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceConseiller.passwordHash">Password Hash</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="keycloakId">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceConseiller.keycloakId">Keycloak Id</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="user.login">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceConseiller.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (conseiller of conseillers; track trackId(conseiller)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/usermanagementservice/conseiller', conseiller.id, 'view']">{{ conseiller.id }}</a>
              </td>
              <td>{{ conseiller.nom }}</td>
              <td>{{ conseiller.prenom }}</td>
              <td>{{ conseiller.specialite }}</td>
              <td>{{ conseiller.email }}</td>
              <td>{{ conseiller.description }}</td>
              <td>{{ conseiller.certifie }}</td>
              <td>{{ conseiller.password }}</td>
              <td>{{ conseiller.passwordHash }}</td>
              <td>{{ conseiller.keycloakId }}</td>
              <td>
                {{ conseiller.user?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/usermanagementservice/conseiller', conseiller.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/usermanagementservice/conseiller', conseiller.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(conseiller)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (conseillers && conseillers.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
