<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-etudiant-heading"
        data-cy="EtudiantCreateUpdateHeading"
        jhiTranslate="userManagementServiceApp.userManagementServiceEtudiant.home.createOrEditLabel"
      >
        Créer ou éditer un Etudiant
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="userManagementServiceApp.userManagementServiceEtudiant.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nomRef = editForm.get('nom')!;
        <div class="mb-3">
          <label class="form-label" for="field_nom" jhiTranslate="userManagementServiceApp.userManagementServiceEtudiant.nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
          @if (nomRef.invalid && (nomRef.dirty || nomRef.touched)) {
            <div>
              @if (editForm.get('nom')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let prenomRef = editForm.get('prenom')!;
        <div class="mb-3">
          <label class="form-label" for="field_prenom" jhiTranslate="userManagementServiceApp.userManagementServiceEtudiant.prenom"
            >Prenom</label
          >
          <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
          @if (prenomRef.invalid && (prenomRef.dirty || prenomRef.touched)) {
            <div>
              @if (editForm.get('prenom')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_dateNaissance"
            jhiTranslate="userManagementServiceApp.userManagementServiceEtudiant.dateNaissance"
            >Date Naissance</label
          >
          <div class="input-group">
            <input
              id="field_dateNaissance"
              data-cy="dateNaissance"
              type="text"
              class="form-control"
              name="dateNaissance"
              ngbDatepicker
              #dateNaissanceDp="ngbDatepicker"
              formControlName="dateNaissance"
            />
            <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_telephone" jhiTranslate="userManagementServiceApp.userManagementServiceEtudiant.telephone"
            >Telephone</label
          >
          <input type="text" class="form-control" name="telephone" id="field_telephone" data-cy="telephone" formControlName="telephone" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_adresse" jhiTranslate="userManagementServiceApp.userManagementServiceEtudiant.adresse"
            >Adresse</label
          >
          <input type="text" class="form-control" name="adresse" id="field_adresse" data-cy="adresse" formControlName="adresse" />
        </div>

        @let emailRef = editForm.get('email')!;
        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="userManagementServiceApp.userManagementServiceEtudiant.email"
            >Email</label
          >
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
            <div>
              @if (editForm.get('email')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let typeBacRef = editForm.get('typeBac')!;
        <div class="mb-3">
          <label class="form-label" for="field_typeBac" jhiTranslate="userManagementServiceApp.userManagementServiceEtudiant.typeBac"
            >Type Bac</label
          >
          <input type="text" class="form-control" name="typeBac" id="field_typeBac" data-cy="typeBac" formControlName="typeBac" />
          @if (typeBacRef.invalid && (typeBacRef.dirty || typeBacRef.touched)) {
            <div>
              @if (editForm.get('typeBac')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_anneeBac" jhiTranslate="userManagementServiceApp.userManagementServiceEtudiant.anneeBac"
            >Annee Bac</label
          >
          <input type="number" class="form-control" name="anneeBac" id="field_anneeBac" data-cy="anneeBac" formControlName="anneeBac" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_niveauDetudes"
            jhiTranslate="userManagementServiceApp.userManagementServiceEtudiant.niveauDetudes"
            >Niveau Detudes</label
          >
          <input
            type="text"
            class="form-control"
            name="niveauDetudes"
            id="field_niveauDetudes"
            data-cy="niveauDetudes"
            formControlName="niveauDetudes"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_universiteSouhaitee"
            jhiTranslate="userManagementServiceApp.userManagementServiceEtudiant.universiteSouhaitee"
            >Universite Souhaitee</label
          >
          <input
            type="text"
            class="form-control"
            name="universiteSouhaitee"
            id="field_universiteSouhaitee"
            data-cy="universiteSouhaitee"
            formControlName="universiteSouhaitee"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_specialiteSouhaitee"
            jhiTranslate="userManagementServiceApp.userManagementServiceEtudiant.specialiteSouhaitee"
            >Specialite Souhaitee</label
          >
          <input
            type="text"
            class="form-control"
            name="specialiteSouhaitee"
            id="field_specialiteSouhaitee"
            data-cy="specialiteSouhaitee"
            formControlName="specialiteSouhaitee"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_password" jhiTranslate="userManagementServiceApp.userManagementServiceEtudiant.password"
            >Password</label
          >
          <input type="text" class="form-control" name="password" id="field_password" data-cy="password" formControlName="password" />
        </div>

        @let passwordHashRef = editForm.get('passwordHash')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_passwordHash"
            jhiTranslate="userManagementServiceApp.userManagementServiceEtudiant.passwordHash"
            >Password Hash</label
          >
          <input
            type="text"
            class="form-control"
            name="passwordHash"
            id="field_passwordHash"
            data-cy="passwordHash"
            formControlName="passwordHash"
          />
          @if (passwordHashRef.invalid && (passwordHashRef.dirty || passwordHashRef.touched)) {
            <div>
              @if (editForm.get('passwordHash')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_keycloakId" jhiTranslate="userManagementServiceApp.userManagementServiceEtudiant.keycloakId"
            >Keycloak Id</label
          >
          <input
            type="text"
            class="form-control"
            name="keycloakId"
            id="field_keycloakId"
            data-cy="keycloakId"
            formControlName="keycloakId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" jhiTranslate="userManagementServiceApp.userManagementServiceEtudiant.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
