<div>
  <h2 id="page-heading" data-cy="EleveHeading">
    <span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.home.title">Eleves</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-eleve"
        [routerLink]="['/usermanagementservice/eleve/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="userManagementServiceApp.userManagementServiceEleve.home.createLabel"
          >Créer un nouveau Eleve</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="userManagementServiceApp.userManagementServiceEleve.home.search"
          >Recherche pour Eleve</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'userManagementServiceApp.userManagementServiceEleve.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (eleves?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.home.notFound">Aucun Eleve trouvé</span>
    </div>
  }

  @if (eleves && eleves.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nom">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.nom">Nom</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="prenom">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.prenom">Prenom</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="dateNaissance">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.dateNaissance">Date Naissance</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="telephone">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.telephone">Telephone</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="adresse">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.adresse">Adresse</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.email">Email</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="serie">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.serie">Serie</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="niveauEtude">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.niveauEtude">Niveau Etude</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="lycee">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.lycee">Lycee</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="ville">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.ville">Ville</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="password">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.password">Password</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="passwordHash">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.passwordHash">Password Hash</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="keycloakId">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.keycloakId">Keycloak Id</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="user.login">
              <div class="d-flex">
                <span jhiTranslate="userManagementServiceApp.userManagementServiceEleve.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (eleve of eleves; track trackId(eleve)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/usermanagementservice/eleve', eleve.id, 'view']">{{ eleve.id }}</a>
              </td>
              <td>{{ eleve.nom }}</td>
              <td>{{ eleve.prenom }}</td>
              <td>{{ eleve.dateNaissance | formatMediumDate }}</td>
              <td>{{ eleve.telephone }}</td>
              <td>{{ eleve.adresse }}</td>
              <td>{{ eleve.email }}</td>
              <td>{{ eleve.serie }}</td>
              <td>{{ eleve.niveauEtude }}</td>
              <td>{{ eleve.lycee }}</td>
              <td>{{ eleve.ville }}</td>
              <td>{{ eleve.password }}</td>
              <td>{{ eleve.passwordHash }}</td>
              <td>{{ eleve.keycloakId }}</td>
              <td>
                {{ eleve.user?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/usermanagementservice/eleve', eleve.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/usermanagementservice/eleve', eleve.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(eleve)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (eleves && eleves.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
